body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    background: black center center no-repeat fixed;
    @include _background-size(cover);
}

h1, h2, h3, h4 {
    margin-bottom: 1.5rem;
}

h2, h3, h4 {
    font-weight: 200;
}

strong {
    font-weight: 800;
}

p {
    line-height: 2.5rem;
}

a {
    color: $red;

    &:hover, &:active, &:focus {
        color: lighten($red, 10%);
    }
}

hr {
    position: relative;
    margin: 40px auto;
    border: 1px solid white;
}

img:not(.avatar):not([class^="wp-image"]) {
    border: 1px solid $red;
    border-top-right-radius: 40px;
}

.grecaptcha-badge {
    display: none;
}