/* Atomic Blocks Plugin */

/* Accordion */

.ab-block-accordion {
    .ab-accordion-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 90px;
        outline: none;
        font-size: 1.5rem;
        background: transparent;
    }

    .ab-accordion-text {
        padding: 15px;

        p {
            line-height: 1.8rem;
        }
    }
}