/* Comment Area */

.comments-area {
    background-color: $dark-gray;
    color: white;
    
    a {
        color: white;
    }
}

.comment-list {
    list-style: none;
    padding: 0;

    /*.parent ,*/
    .children {
        list-style: none;
        padding: 0;

        @media (min-width: 576px) {
            padding: 15px;
        }
    }

    .comment-body {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid $ligth-gray;
    }

    .comment-author {
        width: auto;
        float: left;
        display: flex;
        align-items: flex-start;
        padding-right: 8px;
        justify-content: flex-start;


        .avatar {}

        .fn {
            margin-left: 8px;
            font-weight: 700;

        }

        .says {
            color: $red;
            display: none;
            margin-left: 4px;
            font-weight: 400;
        }
    }

    .comment-meta,
    .reply {
        float: left;

        a {
            &.comment-reply-link {
                font-weight: 500;
                background-color: $red;
                color: white;
                padding: .375rem .75rem;
            }
        }
    }

    p {
        width: 100%;
        float: left;
    }
}

.comment-form {
    label {
        margin-bottom: 0;    
    }

    input, 
    textarea {
        width: 100%;
        padding: 5px 15px;
        color: white;
        border: 2px solid white;
        border-top-right-radius: 40px;
        background-color: transparent;
        
        &:focus {
            outline: none;
        }
    }

    p[class^="comment-form-"] {
        margin: 0;

        @media (min-width: 576px) {
            width: 50%;
            float: left;

            &:nth-child(odd){
                padding-right: 15px;
            }

            &:nth-child(even){
                padding-left: 15px;
            }
        }
    }

    .comment-form-comment,
    .comment-form-cookies-consent {
        width: 100% !important;
        padding: 0 !important;
    }

    #wp-comment-cookies-consent {
        width: auto;
        margin: 30px 15px 30px 0;
    }

    .submit {
        width: auto;
        float: right;
        background-color: $red;
        color: white;
        border: 2px solid white;
        border-radius: 0;
        border-bottom-left-radius: 40px;
        padding: .375rem 1.75rem;
    }
}
