.pagination {
    margin: 0;

    .page-item {

        .page-link {
            color: $red;
            border-radius: 0;
            border-color: $red;
            background-color: transparent;
        }
        
        &.active{

            background-color: transparent;

            .page-link {
                color: $red;
                font-weight: 700;
            }
        }
    }
}