/* Blog Posts */
.post {
    margin-bottom: 45px;

    &.portfolio {
        .post-thumbnail {
            img {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
    }

    .post-thumbnail {
        display: block;
        position: relative;

        .post-overlay {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            border: 1px solid white;
            border-top-right-radius: 40px;
            background-color: rgba(black, 60%);
        }

        &:hover .post-overlay {
            opacity: 1;
        }
    }

    .post-title {
        font-size: 2rem;

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .post-infos {
        a {
            text-transform: capitalize;
            font-weight: 700;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .post-author,
    .post-date {
        font-size: 1.5rem;
    }

    .post-excerpt {
        p {
            line-height: 2rem;
        }
    }
}