/* Search Form */
.searchform {
    div {    
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input {
        height: 60px;
        margin: 8px 0;
        padding: 5px 15px;
        border: 2px solid $red;
    }

    input[type=text] {
        width: 100%;
        font-size: 2.4rem;
        border-top-right-radius: 135px;
        background: transparent;
    }

    input[type=submit]{
        align-self: flex-end;
        box-sizing: border-box;
        min-width: 50%;
        font-size: 1.4rem;
        border-bottom-left-radius: 135px;
        color: white;
        background: $red;

        @media (min-width: 576px) {
            min-width: 30%;  
        } 
    }
}