/* Social Networks Share Links */
.share-social {
    margin: 15px 0px;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
}

.share-link {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: $red !important;
}

.comment-count {
    color: $red;
}