/* Tag Cloud */
.tags-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .tag {
        color: $red;
        padding: 8px;
        margin: 8px;
        border: 1px solid $red;
        display: block;
        box-sizing: border-box;
        font-weight: 700;
        
        &:hover {
            background-color: $red;
            color: white;
            text-decoration: none;
            transition: .5s ease;
        }
    }
}