/* WP Gutenberg */

// Wide and Full align fix css

@media (min-width: 1200px) {
    .alignfull, 
    .alignwide {
        margin-bottom: 2em;
    }
    .alignwide {
        width: 75vw;
        max-width: none;
        margin-left: calc(50% - 75vw / 2);
    }
}

.alignfull {
    width: 100vw;
    max-width: none;
    margin-left: calc(50% - 50vw);
}

.wp-block-image {
    .alignfull, 
    .alignwide {
        img {
            width: 100%;
        }
    }
}