/* Contact Form 7 Plugin */

.wpcf7 {
    p {
        margin: 0;
    }
    
    label {
        width: 100%;
        color: white;
        font-size: 1.4rem;
        font-weight: 700;
    }

    textarea {
        max-height: 250px;
    }

    .wpcf7-form-control-wrap {
        display: block;
    }

    .wpcf7-form-control {
        width: 100%;
        background: transparent;
        border: 2px solid $red;
        border-top-right-radius: 40px; 
        padding: 0 15px;
        font-size: 1rem;
        color: white;
    }

    .wpcf7-submit {
        background: $red;
        border: 1px solid $red;
        border-radius: 0;
        border-bottom-left-radius: 40px;
        color: white;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        width: 33.333%;
        padding: 5px 10px;
        float: right;
    }

    ::placeholder {
        color: $ligth-gray;
        opacity: 1;
        font-style: italic;
    }

    :-ms-input-placeholder {
        color: $ligth-gray;
        font-style: italic;
    }

    ::-ms-input-placeholder {
        color: $ligth-gray;
        font-style: italic;
    }

    .wpcf7-validation-errors {
        color: white;
    }
    
    .wpcf7-not-valid-tip {
        font-size: 1rem;
    }
}