@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.woff2?43934887') format('woff2'),
       url('../font/fontello.woff?43934887') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class*=" icon-"]:before,
[class^=icon-]:before {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-fire:before { 
    content: '\e800'; 
}

.icon-puzzle:before { 
    content: '\e803'; 
}

.icon-twitter:before { 
    content: '\e804'; 
}

.icon-pinterest:before { 
    content: '\e805'; 
}

.icon-facebook:before { 
    content: '\f301'; 
}

.icon-linkedin:before { 
    content: '\f31b'; 
}

.icon-comment:before { 
    content: '\e808'; 
}