/* ----- Base ----- */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  color: white;
  background: black center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
  margin-bottom: 1.5rem;
}

h2, h3, h4 {
  font-weight: 200;
}

strong {
  font-weight: 800;
}

p {
  line-height: 2.5rem;
}

a {
  color: #B22C30;
}
a:hover, a:active, a:focus {
  color: #d04145;
}

hr {
  position: relative;
  margin: 40px auto;
  border: 1px solid white;
}

img:not(.avatar):not([class^=wp-image]) {
  border: 1px solid #B22C30;
  border-top-right-radius: 40px;
}

.grecaptcha-badge {
  display: none;
}

/* ----- Layouts ----- */
/* Navbar */
#navbar {
  background-color: #3d3d3d;
}
#navbar .navbar-nav .nav-item {
  text-align: center;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
#navbar .navbar-nav .nav-item:last-child {
  background-color: #B22C30;
}
#navbar .navbar-nav .nav-link {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px;
}
#navbar .navbar-nav .nav-link:hover {
  color: white;
}
#navbar .navbar-nav .nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
  margin: 0 auto;
  width: 30px;
  height: 2px;
  background-color: white;
}

/* Carousel Home */
#carouselHome .carousel-indicators {
  bottom: 50px;
  margin-bottom: 0;
}
#carouselHome .carousel-indicators li {
  box-sizing: border-box;
  text-indent: 0;
  margin: 0 8px;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 100%;
  line-height: 28px;
  color: #B7B7B7;
  background-color: #3d3d3d;
  opacity: 1;
  transition: all 0.25s ease;
}
#carouselHome .carousel-indicators li.active, #carouselHome .carousel-indicators li:hover {
  background-color: #B22C30;
}
#carouselHome .carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

/* Pages */
body.blog, body.single, body.archive, body.error404, body.search, body.search-results {
  background-color: white;
  color: black;
}
body.blog .page-content, body.single .page-content, body.archive .page-content, body.error404 .page-content, body.search .page-content, body.search-results .page-content {
  font-size: 1.85rem;
}
body.blog .searchform div {
  flex-direction: row;
}
body.single .post {
  margin-bottom: auto;
}
body.single .share-social {
  font-size: 1.65rem;
}
body.page-template-portfolio img {
  border-color: white !important;
}
body.page-template-portfolio a {
  color: white;
}
body.page-template-portfolio a:hover, body.page-template-portfolio a:focus, body.page-template-portfolio a:active {
  font-weight: 300;
}

/* Page 404 */
.error404 .text404 {
  font-size: 10rem;
  line-height: 100%;
}
@media (min-width: 576px) {
  .error404 .text404 {
    font-size: 20rem;
  }
}

/* ----- Modules ----- */
/* Contact Form 7 Plugin */
.wpcf7 p {
  margin: 0;
}
.wpcf7 label {
  width: 100%;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}
.wpcf7 textarea {
  max-height: 250px;
}
.wpcf7 .wpcf7-form-control-wrap {
  display: block;
}
.wpcf7 .wpcf7-form-control {
  width: 100%;
  background: transparent;
  border: 2px solid #B22C30;
  border-top-right-radius: 40px;
  padding: 0 15px;
  font-size: 1rem;
  color: white;
}
.wpcf7 .wpcf7-submit {
  background: #B22C30;
  border: 1px solid #B22C30;
  border-radius: 0;
  border-bottom-left-radius: 40px;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 33.333%;
  padding: 5px 10px;
  float: right;
}
.wpcf7 ::placeholder {
  color: #B7B7B7;
  opacity: 1;
  font-style: italic;
}
.wpcf7 :-ms-input-placeholder {
  color: #B7B7B7;
  font-style: italic;
}
.wpcf7 ::-ms-input-placeholder {
  color: #B7B7B7;
  font-style: italic;
}
.wpcf7 .wpcf7-validation-errors {
  color: white;
}
.wpcf7 .wpcf7-not-valid-tip {
  font-size: 1rem;
}

/* Atomic Blocks Plugin */
/* Accordion */
.ab-block-accordion .ab-accordion-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 90px;
  outline: none;
  font-size: 1.5rem;
  background: transparent;
}
.ab-block-accordion .ab-accordion-text {
  padding: 15px;
}
.ab-block-accordion .ab-accordion-text p {
  line-height: 1.8rem;
}

/* Blog Posts */
.post {
  margin-bottom: 45px;
}
.post.portfolio .post-thumbnail img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.post .post-thumbnail {
  display: block;
  position: relative;
}
.post .post-thumbnail .post-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border: 1px solid white;
  border-top-right-radius: 40px;
  background-color: rgba(0, 0, 0, 0.6);
}
.post .post-thumbnail:hover .post-overlay {
  opacity: 1;
}
.post .post-title {
  font-size: 2rem;
}
.post .post-title a:hover {
  text-decoration: none;
}
.post .post-infos a {
  text-transform: capitalize;
  font-weight: 700;
}
.post .post-infos a:hover {
  text-decoration: none;
}
.post .post-author,
.post .post-date {
  font-size: 1.5rem;
}
.post .post-excerpt p {
  line-height: 2rem;
}

/* Social Networks Share Links */
.share-social {
  margin: 15px 0px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
}

.share-link {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #B22C30 !important;
}

.comment-count {
  color: #B22C30;
}

/* Tag Cloud */
.tags-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tags-cloud .tag {
  color: #B22C30;
  padding: 8px;
  margin: 8px;
  border: 1px solid #B22C30;
  display: block;
  box-sizing: border-box;
  font-weight: 700;
}
.tags-cloud .tag:hover {
  background-color: #B22C30;
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
}

/* Comment Area */
.comments-area {
  background-color: #707070;
  color: white;
}
.comments-area a {
  color: white;
}

.comment-list {
  list-style: none;
  padding: 0;
  /*.parent ,*/
}
.comment-list .children {
  list-style: none;
  padding: 0;
}
@media (min-width: 576px) {
  .comment-list .children {
    padding: 15px;
  }
}
.comment-list .comment-body {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #B7B7B7;
}
.comment-list .comment-author {
  width: auto;
  float: left;
  display: flex;
  align-items: flex-start;
  padding-right: 8px;
  justify-content: flex-start;
}
.comment-list .comment-author .fn {
  margin-left: 8px;
  font-weight: 700;
}
.comment-list .comment-author .says {
  color: #B22C30;
  display: none;
  margin-left: 4px;
  font-weight: 400;
}
.comment-list .comment-meta,
.comment-list .reply {
  float: left;
}
.comment-list .comment-meta a.comment-reply-link,
.comment-list .reply a.comment-reply-link {
  font-weight: 500;
  background-color: #B22C30;
  color: white;
  padding: 0.375rem 0.75rem;
}
.comment-list p {
  width: 100%;
  float: left;
}

.comment-form label {
  margin-bottom: 0;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  padding: 5px 15px;
  color: white;
  border: 2px solid white;
  border-top-right-radius: 40px;
  background-color: transparent;
}
.comment-form input:focus,
.comment-form textarea:focus {
  outline: none;
}
.comment-form p[class^=comment-form-] {
  margin: 0;
}
@media (min-width: 576px) {
  .comment-form p[class^=comment-form-] {
    width: 50%;
    float: left;
  }
  .comment-form p[class^=comment-form-]:nth-child(odd) {
    padding-right: 15px;
  }
  .comment-form p[class^=comment-form-]:nth-child(even) {
    padding-left: 15px;
  }
}
.comment-form .comment-form-comment,
.comment-form .comment-form-cookies-consent {
  width: 100% !important;
  padding: 0 !important;
}
.comment-form #wp-comment-cookies-consent {
  width: auto;
  margin: 30px 15px 30px 0;
}
.comment-form .submit {
  width: auto;
  float: right;
  background-color: #B22C30;
  color: white;
  border: 2px solid white;
  border-radius: 0;
  border-bottom-left-radius: 40px;
  padding: 0.375rem 1.75rem;
}

/* Search Form */
.searchform div {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.searchform input {
  height: 60px;
  margin: 8px 0;
  padding: 5px 15px;
  border: 2px solid #B22C30;
}
.searchform input[type=text] {
  width: 100%;
  font-size: 2.4rem;
  border-top-right-radius: 135px;
  background: transparent;
}
.searchform input[type=submit] {
  align-self: flex-end;
  box-sizing: border-box;
  min-width: 50%;
  font-size: 1.4rem;
  border-bottom-left-radius: 135px;
  color: white;
  background: #B22C30;
}
@media (min-width: 576px) {
  .searchform input[type=submit] {
    min-width: 30%;
  }
}

.pagination {
  margin: 0;
}
.pagination .page-item .page-link {
  color: #B22C30;
  border-radius: 0;
  border-color: #B22C30;
  background-color: transparent;
}
.pagination .page-item.active {
  background-color: transparent;
}
.pagination .page-item.active .page-link {
  color: #B22C30;
  font-weight: 700;
}

/* WP Gutenberg */
@media (min-width: 1200px) {
  .alignfull,
.alignwide {
    margin-bottom: 2em;
  }

  .alignwide {
    width: 75vw;
    max-width: none;
    margin-left: calc(50% - 75vw / 2);
  }
}
.alignfull {
  width: 100vw;
  max-width: none;
  margin-left: calc(50% - 50vw);
}

.wp-block-image .alignfull img,
.wp-block-image .alignwide img {
  width: 100%;
}

/* ----- State ----- */
@media (min-width: 768px) {
  body.logged-in #navbar.fixed-top {
    top: 46px;
  }
}
@media (min-width: 992px) {
  body.logged-in #navbar.fixed-top {
    top: 32px;
  }
}

/* Horizontal Line Separator */
hr.is-style-dragon, hr.is-style-fire, hr.is-style-puzzle, hr.is-style-cellphone {
  border-color: transparent;
}
hr.is-style-dragon::before, hr.is-style-dragon::after, hr.is-style-fire::before, hr.is-style-fire::after, hr.is-style-puzzle::before, hr.is-style-puzzle::after, hr.is-style-cellphone::before, hr.is-style-cellphone::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 2px;
  top: -1px;
  bottom: 0;
  background-color: white;
}
hr.is-style-dragon::before, hr.is-style-fire::before, hr.is-style-puzzle::before, hr.is-style-cellphone::before {
  right: auto;
  left: 0;
}
hr.is-style-dragon::after, hr.is-style-fire::after, hr.is-style-puzzle::after, hr.is-style-cellphone::after {
  right: 0;
  left: auto;
}
hr.is-style-dragon .icon, hr.is-style-fire .icon, hr.is-style-puzzle .icon, hr.is-style-cellphone .icon {
  position: absolute;
  display: inline;
  height: 48px;
  width: 48px;
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}
hr.is-style-dragon .icon::before, hr.is-style-fire .icon::before, hr.is-style-puzzle .icon::before, hr.is-style-cellphone .icon::before {
  margin-left: auto;
  margin-right: auto;
}
hr.is-style-dragon .icon.icon-dragon {
  background-image: url(../image/stratesign-dragon-white.png);
}
hr.is-style-cellphone .icon.icon-cellphone {
  background-image: url(../image/stratesign-cellphone-white.png);
  background-size: 50%;
}

/* Has Underline Decoration */
.has-underline {
  position: relative;
  color: #B22C30;
}
.has-underline::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  background-color: #B22C30;
  left: 0;
  bottom: -5px;
}
.has-underline.row::after {
  left: 15px;
}

/*# sourceMappingURL=theme.css.map */
