/* Carousel Home */
#carouselHome {

    .carousel-indicators {
        bottom: 50px;
        margin-bottom: 0;

        li {
            box-sizing: border-box;
            text-indent: 0;
            margin: 0 8px;
            width: 20px;
            height: 20px;
            border: 2px solid transparent;
            border-radius: 100%;
            line-height: 28px;
            color: $ligth-gray;
            background-color: darken($dark-gray, 20%);;
            opacity: 1;
            transition: all 0.25s ease;

            &.active, &:hover {
                background-color: $red;        
            }
        }
    }

    .carousel-item {
        background-position: center center;
        background-repeat: no-repeat;
        @include _background-size(cover);
    }
}