/* Navbar */
#navbar {
    background-color: darken($dark-gray, 20%);

    .navbar-nav {

        .nav-item {
            text-align: center;
            -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
            
            &:last-child {
                background-color: $red;
            }
        }

        .nav-link {
            position: relative;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            padding: 12px;

            &:hover {
                color: white;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 8px;
                    margin: 0 auto;
                    width: 30px;
                    height: 2px;
                    background-color: white;

                }
            }
        }
    }
}