/* Pages */

body {
    &.blog, &.single, &.archive, &.error404, &.search, &.search-results {
        background-color: white;
        color: black;

        .page-content {
            font-size: 1.85rem;
        }
    }

    &.blog {
        .searchform {
            div {
                flex-direction: row;
            }
        }
    }

    &.single {
        .post {
            margin-bottom: auto;
        }

        .share-social {
            font-size: 1.65rem;
        }
    }

    &.page-template-portfolio {
        img {
            border-color: white !important;
        }

        a {
            color: white;

            &:hover, &:focus, &:active {
                font-weight: 300;
            }
        }
    }
}