body {
    // Fix in navbar for when user is logged in
    &.logged-in {
        #navbar.fixed-top{
            @media (min-width: 768px){
                top: 46px;
            }
            @media (min-width: 992px){
                top: 32px;
            }
        }
    }
}