/* Horizontal Line Separator */
hr {
    &.is-style-dragon,
    &.is-style-fire,
    &.is-style-puzzle,
    &.is-style-cellphone {

        border-color: transparent;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 45%;
            height: 2px;
            top: -1px;
            bottom: 0;
            background-color: white;
        }

        &::before {
            right: auto;
            left: 0;
        }

        &::after {
            right: 0;
            left: auto;
        }

        .icon {
            position: absolute;
            display: inline;
            height: 48px;
            width: 48px;
            font-size: 48px;
            line-height: 48px;
            margin: 0 auto;
            left: 0;
            right: 0;
            color: white;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            transform: translateY(-50%);

            &::before {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &.is-style-dragon {
        .icon {
            &.icon-dragon {
                background-image: url(../image/stratesign-dragon-white.png);
            }
        }
    }

    &.is-style-cellphone {
        .icon {
            &.icon-cellphone {
                background-image: url(../image/stratesign-cellphone-white.png);
                background-size: 50%;
            }
        }
    }
}