/* Has Underline Decoration */
.has-underline {
    position: relative;
    color: $red;

    &::after {
        content: "";
        position: absolute;
        width: 30%;
        height: 3px;
        background-color: $red;
        left: 0;
        bottom: -5px;
    }
    
    &.row {
        &::after {
            left: 15px;
        }
    }
}